.Asked{
    width: 1440px;
    height: 519px;
    display: flex;
padding: 80px 165px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
background-color: #F1F4F9;
margin: auto;
}

.heading{
    width: 730px;
    color: #0B0D17;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 125% */
}

.container{
    width: 1110px;
    height: 295px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 44px 0px rgba(0, 0, 0, 0.05), 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
}

.para{
    width: 1006px;
    height: 32px;
    color: #0B0D17;
font-family: sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}

.content{
    width: 1006px;
    height: 84px;
    color: #445463;
font-family:sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}

.hor{
    width: 1064px;
    height: 1px;
    background: #E5E9F2;
}

.para2{
    width: 1006px;
    height: 32px;
    color: #0B0D17;
font-family: sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; 

}

.down{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}