.portfolio{
    width: 1440px;
    height: 600px;
    /* background-color: #ba3454; */
    display: flex; 
    padding: 80px 165px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: auto;
}

.head{
    width: 540px;
    flex-shrink: 0;
}

.head .h1{
    color:  #0B0D17;
font-family: sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 60px; /* 125% */
}

.navbar{
  /* background-color: #0B0D17;  */
width: 1440px;
height: 49px;
display: inline-flex;
    align-items: center;
    gap: 24px;
    margin-left: 20vw;
}
.navbar .nav{
    color:  #0B0D17;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.mobile{
    display: flex;
align-items: flex-start;
gap: 30px;
width: 1110px;
height: 407px;
flex-direction: column;


}
.temp{
    display: flex;
align-items: flex-start;
gap: 30px; 
}

 .moup{
   width: 350px;
   flex-shrink: 0;
   height: 325px;
   border-radius: 8px;
   background: #082C58;
   padding: 2vw 3vw;
   overflow: hidden;
}

.logo{
    width: 165px;
height: 40px;
flex-shrink: 0;
align-items: center;
margin-bottom: 1.4vw;
}

.moupup{
    width: 230px;
height: 460px;
flex-shrink: 0;


}

.heading{
    width: 350px;
    height: 32px;
    color: #18191F;
font-feature-settings: 'liga' off;
border: 2px solid;
font-family: sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
}

.heading .para{
    width: 300px;
    color:  #18191F;
font-feature-settings: 'liga' off;
height: 26px;

font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.button{
   
    height: 50px;
    display: flex;
padding: 16px 20px;
align-items: center;
gap: 16px;
border-radius: 8px;
background: #0555FF;
outline: none;
columns: #fff;
font-size: 20px;
}

